<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <title>{% block title  %}{% endblock  %}</title>
    <style>
        /* For Dark theme footer */
        body {
          min-height: 100vh;
          display: flex;
          flex-direction: column;
        }
        .footer {
          background-color: #343a40;
          color: #f8f9fa;
          padding: 20px 0;
        }
      </style>
</head>
<body>
    {% include 'myapp/header.html' %}
    {% block content  %}{% endblock  %}
    {% include 'myapp/footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>